:root {
    --gris: #e0e0e0;
    --amarillo: #fff9c4;
    --blanco: #ffffff;
    --lightBlue: #b3e5fc;
    --negro: #000000;
    --verde: #c5e1a5;
    --fuentePrincipal: "Nosifer", sans-serif;
}

body {
    font-family: var(--fuentePrincipal);
    margin: 0;
    background-color: var(--verde);
}

.navbar-nav .nav-link {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    color: #fff;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: var(--lightBlue);
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: var(--blanco);
}

.carousel-inner img {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
}

.card {
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.8rem;
    font-weight: bold;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 2rem;
    font-size: 1.4rem;
}

footer a {
    color: var(--lightBlue);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}





.carousel-inner img {
    width: 90%; /* Ocupa el 90% del ancho del contenedor */
    max-height: 280px; /* Altura máxima */
    object-fit: cover; /* Recorta proporcionalmente */
    margin-left: 10rem; /* Espaciado a la izquierda */
    padding-right: 15rem; /* Espaciado a la derecha */
}



/* Ajustar el contenedor del carousel */
#carouselExample {
    max-height: 280px; /* Hacer que coincida con las imágenes */
    overflow: hidden; /* Ocultar cualquier parte que exceda */
}
